<% layout("/layouts/boilerplate") %>
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Listing Details</h3>
    </div>

    <div class="card col-6 offset-2">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b>
          <ul class="listing-details">
            <li><i><%= listing.description %></i></li>
            <li><i>&#8377; <%= listing.price.toLocaleString("en-IN") %></i></li>
            <li><i><%= listing.location %></i></li>
            <li><i><%= listing.country %></i></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="btns">
      
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2" id="add-btn">Edit </a>

      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-4" id="add-btn">Delete</button>
      </form>
    </div>
  </div>

